html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Desktop*/
@media screen and (min-width: 500px) {
  /*All*/
  body.home a.home, body.players a.player_page, body.bios a.bios {
    border-bottom: 5px solid #cb2941;
  }
  body.home a.home a, body.players a.player_page a, body.bios a.bios a {
    color: #cb2941;
  }

  img {
    display: inline-block;
  }

  body {
    font-family: 'Oswald', sans-serif;
  }

  h1 {
    text-align: center;
    color: #CB2941;
    font-size: 3em;
  }

  h2 {
    text-align: center;
    color: #B26F28;
  }

  .nav {
    background: #13AB43;
    border-bottom: 1px solid white;
  }

  body {
    background: #005633;
  }

  /*Index.html*/
  img.deer {
    width: 100%;
    height: 800px;
  }

  img.logo {
    display: none;
  }

  .nav {
    background: #13AB43;
    border-bottom: 1px solid white;
    height: 70px;
    padding: 25px;
  }

  .nav a {
    transition: all .5s linear;
  }

  .nav a:hover {
    background: #005633;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 0 10px;
    color: white;
  }

  a {
    text-decoration: none;
    color: black;
    margin: 25px;
    font-size: 20px;
  }

  .list {
    display: inline-block;
    margin-left: 7%;
  }

  .bucks {
    width: 60%;
    padding-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
  }

  .team p {
    text-align: center;
  }

  .banner {
    width: 40%;
    height: 40%;
    position: relative;
    margin: 1%;
    display: inline-block;
    vertical-align: top;
  }

  .titles {
    background: #13AB43;
    font-size: 25px;
    padding: 10px;
  }

  span.champion {
    color: white;
    font-weight: bold;
  }

  .date, .date2 {
    margin: 10px;
  }

  h3 {
    color: #CB2941;
    text-align: center;
  }

  ul.champs {
    list-style-type: disc;
    display: inline-block;
  }

  footer {
    border-top: 1px solid white;
  }

  .champs li, .team p {
    color: lightgrey;
    line-height: 1.5em;
    font-size: 20px;
  }

  div.team, div.world {
    max-width: 49.8%;
    display: inline-block;
    vertical-align: top;
    background: #13AB43;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /*Players.html*/
  .picture {
    display: inline-block;
  }

  .info {
    display: inline-block;
    vertical-align: top;
  }

  img.face {
    width: 500px;
  }

  img.face2 {
    width: 800px;
  }

  /*Bios.html*/
  .roster p {
    background: #13AB43;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    color: lightgrey;
  }

  li.special {
    color: black;
    font-size: 30px;
  }

  /*Bios.html and Players.html*/
  ul.player2 {
    background: rgba(19, 171, 67, 0.7);
    -webkit-border-radius: 30px;
    border-radius: 30px;
    padding: 20px;
    line-height: 1.5em;
  }

  .roster {
    color: white;
    font-size: 20px;
    background: #005633;
    color: lightgrey;
    padding: 100px 400px;
    border-bottom: 10px solid #CB2941;
    max-width: 100%;
    margin: 0 auto;
  }
}
/*Mobile*/
@media screen and (max-width: 500px) {
  img {
    display: inline-block;
    width: 100%;
  }

  /*Index.html*/
  img.deer {
    display: none;
  }

  .team {
    padding: 0 10px;
  }

  .titles {
    background: #13AB43;
    line-height: 2em;
    font-size: 20px;
  }

  span.champion {
    color: white;
    font-weight: bold;
    font-size: 20px;
  }

  .banner {
    height: 500px;
  }

  ul.champs {
    list-style-type: disc;
  }

  h3 {
    font-weight: bold;
    color: #CB2941;
    text-align: center;
  }

  .champs li, .team p {
    color: lightgrey;
    line-height: 1.5em;
    font-size: 20px;
  }

  body.home a.home, body.players a.player_page, body.bios a.bios {
    border-bottom: 5px solid #CB2941;
  }
  body.home a.home a, body.players a.player_page a, body.bios a.bios a {
    color: #CB2941;
  }

  /*All*/
  body {
    font-family: 'Oswald', sans-serif;
  }

  h1 {
    text-align: center;
    color: #CB2941;
  }

  h2 {
    text-align: center;
    color: #B26F28;
  }

  body {
    background: #005633;
  }

  footer {
    border-top: 1px solid white;
  }

  .nav {
    background: #13AB43;
    border-bottom: 1px solid white;
    height: 70px;
    padding: 25px;
    font-size: 14px;
  }

  a {
    text-decoration: none;
    color: black;
    margin: 22px;
  }

  /*Players.html*/
  /*bios.html*/
  li.special {
    color: black;
    font-size: 30px;
  }

  /*Players.html and bios.html*/
  ul.player2 {
    background: rgba(19, 171, 67, 0.7);
    border-radius: 30px;
    padding: 20px;
    line-height: 1.5em;
  }

  .roster {
    color: white;
    font-size: 20px;
    color: lightgrey;
    padding: 0 20px;
  }
}
@media screen and (max-width: 700px) {
  img {
    display: inline-block;
    width: 100%;
  }

  /*Index.html*/
  img.deer {
    display: none;
  }

  .team {
    padding: 0 10px;
  }

  .titles {
    background: #13AB43;
    line-height: 2em;
    font-size: 20px;
  }

  span.champion {
    color: white;
    font-weight: bold;
    font-size: 20px;
  }

  .banner {
    width: 100%;
  }

  ul.champs {
    list-style-type: disc;
  }

  h3 {
    font-weight: bold;
    color: #CB2941;
    text-align: center;
  }

  .champs li, .team p {
    color: lightgrey;
    line-height: 1.5em;
    font-size: 20px;
  }

  div.world {
    display: block;
    max-width: 100%;
  }

  div.team {
    max-width: 100%;
  }

  img.logo {
    display: inline-block;
  }

  /*All*/
  h1 {
    text-align: center;
    color: #CB2941;
  }

  h2 {
    text-align: center;
    color: #B26F28;
  }

  body {
    background: #005633;
  }

  footer {
    border-top: 1px solid white;
  }

  .nav {
    background: #13AB43;
    border-bottom: 1px solid white;
  }

  /*Player.html*/
  .roster {
    max-width: 100%;
    margin: 0 auto;
  }
}
