@import "reset";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  line-height: 1.3;

}

a {
  color: #800000;
}

header {
  background: #98FF98;
  height: 130px;
  position: fixed;
  width: 100%; 
  z-index: 50;
}

section {
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  position: relative;
}

div.code {
  margin-bottom: 20px;
  margin-top: 20px; 
}

div.special {
  line-height: 2.5em;
  background: white;
}

p.numbers1, p.numbers2, p.numbers3, p.numbers4, p.numbers5 {
  color: gold;
  font-size: 100px;
  display: inline-block;
}

p.numbers1 {
  position: absolute;
  top: 580px;
  left: 170px;
}

p.numbers2 {
  position: absolute;
  top: 580px;
  left: 520px;
}

p.numbers3 {
  position: absolute;
  top: 580px;
  right: 520px;
}

p.numbers4 {
  position: absolute;
  top: 1060px;
  left: 340px;
}

p.numbers5 {
  position: absolute;
  top: 1060px;
  left: 1100px;
}
p.wow {
  color: lightgreen;
  text-shadow: 1px 1px black;
  font-size: 30px;
}
span.me {
  color: #FE877F;
}

span.you {
  color: lightgreen;
}

span.gold {
  color: gold;
}

div.row1, div.row2 {
  margin-left: 37px;
}

div.photo1, div.photo2, div.photo3, {
  margin-top: 10px;
  display: inline-block;
}

div.photo4, div.photo5 {
  display: inline-block;
}

img.photo1, img.photo2, img.photo3, img.photo3-2, img.photo4, img.photo4-2, img.photo5 {
  display: inline-block;
  height: 600px;
}

.one .text, .two .text, .three .text {
  width: 30%;
  min-width: 300px;
  padding: 20px 32px;
  border-radius: 8px;
  color: white;
  position: absolute;
  line-height: 1.7em;
  text-shadow: 0 0 10px black;
  font-size: 25px;
}

div.logos {
  position: absolute;
  top: 30px;
  right: 20px;
  margin: 10px;
  font-size: 2em;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #FE877F;
  padding-bottom: 33px; 
  padding-top: 33px;
  background: #98FF98;
}



h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: .8em;
}

.one {
  background-image: url(/img/cupcakes.jpg);
}
.one .text {
  background-color: rgba(254, 135, 127, 0.8);
  bottom: 100px;
  right: 100px;
  -moz-box-shadow: 0 0 120px salmon;
  -webkit-box-shadow: 0 0 120px salmon;
  box-shadow: 0 0 120px salmon;
}

a.funny {
  text-decoration: none;
  color: lightgreen;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
     
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
     
  overflow:hidden;
}

a.funny:hover {
  color: gold;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform:rotate(270deg);
}
.best {
  background-image: url(/img/love.jpg);
}

.awesome p {
  text-align: center;
  font-size: 30px;
  line-height: 1.7em;
  margin-bottom: 50px;
  color: black;
}

div.pic {
  display: inline-block;
}

.cool {
  width: 500px;
  border-radius: 500px; 
  display: inline-block;
}

.cooll {
  width: 500px;
  border-radius: 500px; 
  display: inline-block;
}

.cute {
  width: 400px;
  height:500px;
  border-radius: 500px; 
  display: inline-block;
}
.awesome h2 {
  text-align: center;
  color: #98FF98;
  font-size: 50px;
  background-color: rgba(254, 135, 127, 0.8);
  height: 100px;
  padding-top: 17px;

}

.two {
  background-image: url(/img/netflix.jpg);
}
.two .text {
  background-color: rgba(152, 255, 152, 0.8);
  top: 100px;
  left: 100px;
  -moz-box-shadow: 0 0 120px lightgreen;
  -webkit-box-shadow: 0 0 120px lightgreen;
  box-shadow: 0 0 120px lightgreen;
}

.three {
  background-image: url(/img/creep.jpg);
}
.three .text {
  background-color: rgba(254, 135, 127, 0.8);
  top: 50px;
  right: 70px;
  -moz-box-shadow: 0 0 120px salmon;
  -webkit-box-shadow: 0 0 120px salmon;
  box-shadow: 0 0 120px salmon;
}

